:root {
    --primary-text-color:#C778DD;
    --primary-op:#c778dd34;;
    --secondary-text-color:#FFFFFF;
    --tertiary-text-color:#ABB2BF;
    --background-color:#282C33;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    scroll-behavior: smooth;
}

body {
    background-color: var(--background-color);
    font-family: 'Fira Code', sans-serif;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
}

a {
    color: var(--tertiary-text-color);
    text-decoration: none;
}

/* HEADER */

header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 80%;  
    height: 80px;
}

.logo img {
    width: 120px;
    height: 70px;
}

nav ul { 
  display: flex;
  list-style-type: none;
  gap: 32px;
}

nav ul li:first-child a { 
   color: var(--secondary-text-color);
}

nav a {
    color: var(--tertiary-text-color);
}

nav a:hover {
    color: var(--secondary-text-color);
}

/* SECTION 1 : HERO */

main {
    width: 80%;
}

.hero-section {
    display: flex;
    justify-content: space-between;
    align-items:center;
    margin-top: 60px;
}

.hero-section .hero-content h1{
    font-size: 32px;
    color: var(--secondary-text-color);
    line-height: 50px;
    margin-bottom: 20px;
}

.hero-section .hero-content span{
    color: var(--primary-text-color);
}

.hero-section .hero-content p{
    color: var(--tertiary-text-color);
    line-height: 30px;
    margin-bottom: 30px;
}

.hero-section .hero-content a {
    color: var(--secondary-text-color);
    display: inline-block;
    padding: 8px 16px;
    border: 1px solid var(--primary-text-color);
    font-weight: 500;
}

.hero-section .hero-content a:hover {
    background-color: var(--primary-op);
}

.hero-section .hero-illustrations {
    display: flex;
    flex-direction: column;
}

.hero-illustrations .hero-avatar img {
    border-radius: 50%;
    width: 380px;
}

.hero-illustrations .hero-status {
    padding: 8px;
    border: 1px solid var(--tertiary-text-color);
    color: var(--tertiary-text-color);
    display: flex;
    justify-content: space-evenly;  
}

.hero-illustrations .hero-status::before {
    content: "";
    width: 16px;
    background-color: var(--primary-op);
    border: 1px solid var(--primary-text-color);
}

@media (max-width: 768px) {
    header {
      flex-direction: column;  
    }
}

@media (max-width: 970px) {
    .hero-section{
        flex-direction: column-reverse;
    }
    .hero-illustrations{
        margin-bottom: 50px;
    }
    .hero-section .hero-content h1 {
        font-size: 25px;
    }
}

/* SECTION 2 : QOUTE */

.quote {
    display: flex;
    justify-content: center;
    margin-top: 80px;
}

.quote .quote-text {
    color: var(--secondary-text-color);
    border: 1px solid var(--tertiary-text-color);
    padding: 30px 50px;
    font-size: 17px;
    font-weight: 600;
    position: relative;
}

.quote .quote-text::before {
    content: '"';
    top: -25px;
    left: 10px;
    position: absolute;
    color: var(--tertiary-text-color);
    font-size: 64px;
    font-weight: 700;
    background-color: var(--background-color);
}

.quote .quote-text::after {
    content: '"';
    bottom: -60px;
    right: 10px;
    position: absolute;
    color: var(--tertiary-text-color);
    font-size: 64px;
    font-weight: 700;
    background-color: var(--background-color);
}

/* SECTION 3 : ABOUT */

.about-section {
    margin: 90px 0px;
}

.about-section .about-text {
    color: var(--tertiary-text-color);
}

h2 {
    color: var(--secondary-text-color);
    margin-bottom: 15px;
    font-size: 32px;
    font-weight: 500;
    position: relative;
}

h2 span {
    color: var(--primary-text-color);
}

h2::after {
    content: "";
    position: absolute;
    left: auto;
    top: 50%;
    width: 150px;
    height: 1px; 
    background-color:var(--primary-text-color);
}

@media (min-width: 970px) {
    .about-text{
        width: 60%;
    }
}

/* SECTION 4 : PROJECTS */

.projects-section .projects-list {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 16px;
    align-items: start;
    margin-top: 48px;
    margin-bottom: 40px;
}

 .projects-list .project-techs {
    display: flex;
    flex-wrap: wrap;
    list-style-type: none;
    gap: 8px 16px;
    color: var(--tertiary-text-color);
    padding: 10px;
    border-bottom: 1px solid var(--tertiary-text-color);
}

 .projects-list .project {
    border: 1px solid var(--tertiary-text-color);
}

 .project .project-image {
    width: 100%;
    height: auto;
    border-bottom: 1px solid var(--tertiary-text-color);
}

.project .project-name {
    font-size: 22px;
    font-weight: 500;
    color: var(--secondary-text-color);
    padding: 10px;
}

.project .project-description {
    color: var(--tertiary-text-color);
    padding: 10px;
}

.project .project-link {
    display: inline-block;
    padding: 8px 16px;
    border: 1px solid var(--primary-text-color);
    font-weight: 500;
    color: var(--secondary-text-color);
}

.project-content a:first-of-type {
    margin-bottom: 20px;
    margin-top: 10px;
    margin-left: 10px;
}

.project .project-link:hover {
    background-color: var(--primary-op);
}

@media (max-width: 1024px) {
    .projects-section .projects-list {
        grid-template-columns: repeat(2, 1fr);
        gap: 20px;
    }
}

@media (max-width: 768px) {
    .projects-section .projects-list {
        grid-template-columns: repeat(1, 1fr);
        gap: 20px;
    }
}

/* SECTION 5 : SKILLS */

.skills-section {
    margin-top: 80px;
}

.skills-section .skills-content {
    display: flex;
    justify-content:space-between;
}

.skills-content .skills-illustrations {
    flex: 1 1 0;
}

.skills-content .skills-list {
    display: flex;
    justify-content: space-between;
    align-items: center;   
    flex-wrap: wrap;
    flex: 1 1 0;
}

.skills-list .skill-block {
    border: 1px solid var(--tertiary-text-color);
    padding: 15px;
    margin-bottom: 10px;
}

.skill-block  .skill-block-name {
    font-weight: 600;
    padding: 8px;
    color: var(--secondary-text-color);
    border-bottom: 1px solid var(--tertiary-text-color);
}

.skill-block .skill-block-list {
    margin-top: 10px;
    color: var(--tertiary-text-color);
    list-style: none;
}

@media (max-width: 850px) {
    .skills-content {
      flex-direction: column;  
    }
}







